<div
  class="border-2 p-10 relative rounded bg-[#222]"
  [ngClass]="{
    'border-dashed border-[#7e7e7e]': !file,
    'border-indigo-500': file
  }"
>
  @if (!file) {
  <label for="dropzone">
    Arrastra aquí tu archivo <br />
    o <br />
    <span class="underline block mb-5">Buscar en mi computadora</span>
    <small class="font-bold">* El tamaño máximo es de 10MB *</small>
  </label>
  <input
    class="absolute w-full h-full top-0 left-0 opacity-0 cursor-pointer"
    type="file"
    #fileRef
    name="file"
    id="file"
    (change)="onFileChange($event)"
  />
  } @else {
  <file-details [file]="file"></file-details>

  <span class="underline mt-4 cursor-pointer" (click)="clearFile()"
    >Quitar archivo</span
  >
  }
</div>
